<div class="ordinateur-info">
    <h2>importance Capacité du disque dur d'un ordinateur</h2>
    <ul>
      <li>Avoir une grande capacité de disque dur pour un ordinateur est important pour plusieurs raisons:.</li>

   <li>1* Stockage des données personnelles: Plus la capacité du disque dur est grande, plus vous pouvez stocker de fichiers personnels tels que des photos, des vidéos, des documents, etc. Cela permet de conserver une grande quantité de souvenirs et de données importantes.


   </li>
   <li>nstallation de logiciels et d'applications: Les logiciels et les applications occupent de l'espace sur le disque dur. Une capacité de stockage plus importante permet d'installer davantage de programmes sans avoir à se soucier de manquer d'espace.


   </li>
     </ul>
  </div>

