<div class="ordinateur-info">
    <h2>Fréquence du microprocesseur(PCU)</h2>
    <ul>
      <li>Le PCU joue un role primordiale dans un PC donc il est important d'en avoir un qui a une grande fréquence.</li>
   <li>Vitesse de traitement des tâches: La fréquence du microprocesseur détermine la vitesse à laquelle l'ordinateur peut exécuter les tâches. Une fréquence plus élevée signifie que les actions, comme l'ouverture de programmes et le chargement de pages web, seront plus rapides.</li>

   <li>Gestion du multitâche: Un processeur avec une fréquence plus élevée est mieux adapté pour gérer plusieurs tâches en même temps, comme l'utilisation de plusieurs programmes simultanément.

   </li>
     </ul>
  </div>
