<div class="composant"><div class="composant-title"><app-composant3
title="   Ordinateur portable professionnel "></app-composant3>
</div>
<app-composant3 

 paragraphe="Épaisseur : Environ 20 à 25 mm
    Poids : Entre 1,5 et 2 kg
    Autonomie de batterie : Jusqu'à 10 heures
    Processeur : Intel Core i5/i7 vPro
    RAM : 8 Go à 16 Go (extensible jusqu'à 32 Go)
    Stockage : SSD de 512 Go à 1 To
    Connectivité : Ethernet, Wi-Fi 6, Bluetooth 5.0, lecteur de carte à puce"></app-composant3></div>


