<body>
    
    <div class="form-container">
        <input type="text" placeholder="Quel est votre identifiant?">
        <input type="password" placeholder="Renseignez votre mot de passe">
        <textarea placeholder="Avez-vous un message d'accompagnement?"></textarea>
        <p>Quel est votre niveau de connaissances en informatique?</p>
        <div class="button-group">
            <button (click)="navigateTo('/ecran4')">Beaucoup de connaissances en informatique </button>
            <button (click)="navigateTo('/ecran5')" >Connaissances en informatique </button>
            <button (click)="navigateTo('/ecran3')">Peu de connaissance en informatique </button>
            <button class="btn-submit">Envoyer</button>
        </div>
       
    </div>
</body>