<div class="ordinateur-info">
    <h2>Ordinateurs Portables :</h2>
    <ul>
      <li>Ce sont des ordinateurs compacts et autonomes, conçus pour être transportés facilement.</li>
      <li>Ils intègrent tous les composants nécessaires, y compris l'écran, le clavier et la batterie.</li>
      <li>Leur mobilité en fait un choix populaire pour les personnes qui travaillent en déplacement.</li>
    </ul>
  
    <h2>Ordinateurs de bureau :</h2>
    <ul>
      <li>Ce sont des systèmes informatiques plus grands et plus puissants, conçus pour rester stationnaires sur un bureau.</li>
      <li>Ils peuvent être modifiés et améliorés plus facilement que les ordinateurs portables, ce qui les rend adaptés aux tâches exigeantes et à un usage professionnel.</li>
    </ul>
  </div>