<div class="composant"><div class="composant-title"><app-composant3 title="2-en-1 (hybrides    convertible) "></app-composant3></div>

<app-composant3
paragraphe="
   
    Épaisseur : Environ 15 à 20 mm
    Poids : Entre 1,2 et 1,8 kg
    Autonomie de batterie : Jusqu'à 8 à 10 heures
    Processeur : Intel Core i5/i7 de 11e génération
    RAM : 8 Go à 16 Go
    Stockage : SSD de 256 Go à 512 Go
    Écran : 13 à 15 pouces, tactile et convertible
    Stylet : Précision de 4096 niveaux de pression, incluse
    " > </app-composant3></div>
