<div class="ordinateur-info">
    <h2>nfos sur le role de la RAM</h2>
    <ul>
      <li>La RAM (mémoire vive) d'un ordinateur remplit deux principales fonctions.</li>
      <li>Stockage temporaire des données actives: La RAM stocke temporairement les données et les programmes en cours d'utilisation par l'ordinateur. Une capacité de RAM plus élevée permet de conserver plus de données en mémoire simultanément, ce qui améliore les performances globales en réduisant les temps de chargement et en accélérant l'accès aux données.</li>
   <li>Facilitation du multitâche et de l'exécution des programmes: Une grande capacité de RAM permet à l'ordinateur de gérer efficacement plusieurs tâches en même temps, ainsi que d'exécuter rapidement les programmes en cours. Cela améliore la réactivité du système et permet une expérience utilisateur plus fluide, surtout lors de l'utilisation de logiciels gourmands en ressources ou lors du traitement de données volumineuses.

   </li>
     </ul>
  </div>