<div class="form">
    <h2>Renseignez les caractéristiques de votre PC</h2>
    <label for="type">Type d'ordinateur</label>
    <input type="text" id="type" name="type" placeholder="Entrer la valeur">
    <label for="disque">Capacité disque dur</label>
    <input type="text" id="disque" name="disque" placeholder="Entrer la valeur">
    <label for="ram">Capacité de la RAM</label>
    <input type="text" id="ram" name="ram" placeholder="Entrer la valeur">
    <label for="processeur">Fréquence processeur</label>
    <input type="text" id="processeur" name="processeur" placeholder="Entrer la valeur">
    </div>
